.header-left-area{
    margin-top: 200px;
}
.header-image-right{
    margin-top: 200px;
    height: 500px;
    width: 500px;
    margin-left: 150px;
}
.header-button-area
.header-button-area{
    border-radius: 5px;
    color: black;
}